.project {
    background-color: #313131 !important;
    text-decoration: none !important;
}

.project:hover {
    background-color: #4b4b4b !important;
}

.project .card-text {
    color: white !important;
}