body {
  font-family: lucida-grande, sans-serif, serif;
  font-size: 14px;
  background-color: #ddddee;
  margin: 50px;
}

h1 {
  display: inline-block;
  padding: 10px;
  background-color: #aa9999;
}
h2 {
  display: inline-block;
  padding: 5px;
  background-color: #aabbaa;
}

a {
  text-decoration: underline;
  color: #330055;
}
a:hover {
  color: blue;
}
