body {
	font-family: lucida-grande, sans-serif, serif;
	font-size: 18px;
	margin-left: 50px;
	background-color: #ececec;
}

/* any detailed content */
p, pre {
	margin-left: 35px;
}
h1, h2, h3{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
h1 {
	font-size: 36px;
	background-color: #9090af;
}
h2 {
	background-color: #90af90;
	font-size: 27px;
	margin-left: 25px;
}
h3 {
	background-color: #afaf99;
}

#other-part-of-title {
	font-weight: normal;
}
#pipe {
	color: #4f4f4f;
	font-size: 50px;
}
#lesson-number {
	color: #cc5555;
}
#colon {
	color: #2a2a2a;
}
#lesson-description {
	color: #4f4f4f;
}

#references {
	font-size: 12px;
}