#block-top a { color: #007ee6; }
#block-left a { color: #00e67e; }
#block-right a { color: #e67e00; }
#block-bottom a { color: #e6007e; }
a { text-decoration: none; }

.row { display: block; margin: 20px 0; }
.cell { display: inline-block; }
#middle .cell { width: 40%; }
#bottom .cell { width: 55%; }
.block { display: inline-block; padding: 30px 60px; }

#block-top { background-color: #a3cef1ff; color: #e7ecef; }
#block-left { /*stick to center*/ float: right; margin-right: 10px; background-color: #a3f1ce7f; }
#block-right { /*stick to center*/ float: left; margin-left: 10px; background-color: #f1cea37f; }
#block-bottom { background-color: #f1a3ce7f; }
