/*
    Rows are horizontal containers for cells.
    Cells are inline containers for blocks.
    Blocks are containers for text.
*/

body { font-family: 'Ubuntu', sans-serif; color: #1b1c19; background-color: #e7ecef; margin: 20px; }

h1 { color: #274c77; }
h2 { color: #4b4c49; }
h3 { color: #2b2c29; }

.centered { text-align: center; }
