body {
  font-family: 'muli';
  color: white;
  background-color: #050505;
}

.app-wrapper {
  margin-top: 50px;
}

.navbar-column {
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
}

@media (max-width: 1000px) {
  .navbar-column {
    display: none;
  }
}

.home-section {
    margin-bottom: 4em;
}

.home-section-title {
    margin-bottom: 1em;
}

.home-section-subtitle {
    font-size: 18px;
    color: lightgrey;
}

.project-row {
    margin-bottom: 2em;
}