body {
  font-family: 'muli';
  color: white;
  background-color: #131313;
}

.navbar-column {
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
}

@media (max-width: 1000px) {
  .navbar-column {
    display: none;
  }
}

.home-section:not(:nth-child(1)) {
    margin-top: 50px;
}

.home-section-title {
    margin-bottom: 1em;
}

.home-section-subtitle {
    font-size: 18px;
    color: rgb(61, 61, 61);
}

.home-intro {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #222;
  background-color: rgb(170, 170, 170);
}

.project-row {
    margin-bottom: 2em;
}